
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F1F1F3;
}

.Navigation {
  margin-left: 125px;
  margin-right: 125px;
  display: flex;
  align-items: center ;
  justify-content: space-between;
 
}
  
.heading {
  font-weight: bold;
  font-size: 28px;
  
}

.btn {
  font-family: "Fira Sans", serif;
  padding: 12px 25px;
  color: #006A50;
  font-weight: 600;
  border: 2px solid #006A50;
  border-radius: 8px;
}


