
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F1F1F3;
}

.Navigation {
  margin-left: 125px;
  margin-right: 125px;
  display: flex;
  align-items: center ;
  justify-content: space-between;
 
}
  
.heading {
  font-weight: bold;
  font-size: 28px;
  
}

.btn {
  font-family: "Fira Sans", serif;
  padding: 12px 25px;
  color: #006A50;
  font-weight: 600;
  border: 2px solid #006A50;
  border-radius: 8px;
}

/* ........banner...... */

.banner{

  margin: 30px 125px 80px 125px;
  padding: 70px 50px 70px 50px;
  background-color: #C6E4D6;
  border-radius: 24px ;
  border-style: none;
}

.text {
  margin-top: 30px;
}

.text p {
  font-family: "Fira Sans", serif;
  color: #0e0e0e7e ;
  font-weight: 500;
  font-size: 20px;
}

.text h2 {
  margin-top: 0;
  font-family: "Fira Sans", serif;
  color: #0E0E0E ;
  font-weight: bold;
  font-size: 45px;
  line-height: auto;
  max-width: 90%;
}

.text button {
  font-family: "Fira Sans", serif;
  color: white;
  font-weight: 600px;
  font-size: 16px;
  background-color: #006A50;
  border-radius: 8px;
  padding: 15px 30px;
  border-style: none;
}

.banner-items-container{
  display: flex;
  justify-content: space-between;
}


/* ........."Piller of bangladesh" section updating...... */


.pillers{
  margin: 10px 125px 70px 125px;
}

.pillers h3{
  font-size: 35px;
}

.pillers-container{
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.sustainability, .innovation, .infrustructure, .empowerment {
  background-color: #FFFFFF;
  padding: 22px;
  border-radius: 15px;
  font-family: "Fira Sans", serif;
  color: #0e0e0eab ;
  font-size: 15px;
  border: 2px solid #0e0e0e15;
}

.pillers-container h6{
  font-family: "Fira Sans", serif;
  font-weight: bold;
  font-size: 16px;
  margin: 18px 0 0 0 ;
  color: #0e0e0ec4;
}

/* .... "The vision of Future" section updating....... */


.visions{
  margin: 10px 125px 30px 125px;
}

.visions h3 {
  font-size: 28px;
  font-weight: bold;
  color: #0E0E0E;
}

.visions p {
  font-weight: normal;
  font-size: 14px;
  color: #0e0e0eab;
}

.visions-container{
  display: flex;
  gap: 20px;
}

.digital-transformation  {
  background-color: #548ff534;
  padding: 28px;
  width: 380px;
  border-radius: 15px;
  border-style: none;
}

.green-energy{
  background-color: #C6E4D6;
  padding: 28px;
  width: 380px;
  border-radius: 15px;
  border-style: none;

}

.modern-infrastructure {
  background-color: #F7EBCF;
  padding: 28px;
  width: 380px;
  border-radius: 15px;
  border-style: none;

}

.visions h3 {
  margin-bottom: 20px;
}

.visions-description {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 25px;
}

.visions-container h5 {
  font-weight: bold;
  font-size: 17px;
  color: #0e0e0ecc;
  margin-bottom: 0;
  margin-top: 21px;
}

.digital-transformation button {

  padding: 9px 16px;
  color: white;
  background-color: #5490F5;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  border-style: none;
}

.green-energy button {

  padding: 9px 16px;
  color: white;
  background-color: #09A15C;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  border-style: none;
  margin-top: 15px;
}

.modern-infrastructure button {

  padding: 9px 16px;
  color: white;
  background-color: #FFC239;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  border-style: none;
}

.chief-adviser{
  font-family: "Fira Sans", serif;
  border-radius: 15px;
  border-style: none ;
  padding: 45px 24px;
  margin-top: 28px;
  background-color: #FFFFFF;
  font-size: 14px;
  background-image: url("Resources/assets/quote-bg.png") ;
  background-position: top left;
  background-repeat:  no-repeat;
  background-size: 6%;
  background-position-x: 20px;
  background-position-y: 24px;
  border: 1px solid #0e0e0e25;
}

.chief-adviser h6 {
  font-family: "Fira Sans", serif;
  font-weight: bold;
  font-size: 20px;
  color: #0e0e0ecc;
  margin: 0;
}

.quote{
  margin-top: 5px;
}

/* .... "Recent news" section updating...... */

.Recent-news{
  margin: 10px 125px 30px 125px;
}

.Recent-news h2{
  font-family: "Fira Sans", serif;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Recent-news p {
  font-family: "Fira Sans", serif;
  font-size: 14px;
  color: #0e0e0eb2;
}

.box-container {
  font-family: "Fira Sans", serif;
  margin-top: 30px;
  padding: 42px 44px;   
  background-color: #FFFFFF;
  border-radius: 22px;
  border-style: none;   
  display: flex;
  justify-content: space-between;    
  align-items: center;    
  gap: 30px;   

}

.box-container h4 {
  font-family: "Fira Sans", serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 28px;
  color: #0e0e0ecc;

}

.image img{
  border-radius: 22px;
  border-style: none;
}

.text {
  margin: 0;
}

.text p {
  font-family: "Fira Sans", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

/* .... "Donate Section" section updating....... */

.donate{
  font-family: "Fira Sans", serif;
  margin: 70px 125px 30px 125px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.donate h3 {
  font-family: "Fira Sans", serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

.donate p {
  font-family: "Fira Sans", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  width: 97.9%;
}

.amount-container{
  font-family: "Fira Sans", serif;
  margin: 20px 0 ;
  display: flex ;
  gap: 20px;
  justify-content: center;
  align-items: center;
  
}
.amount button{
  font-family: "Fira Sans", serif;
  padding: 33px;
  font-size: 36px;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid #0e0e0e25;
  background-color: #FFFFFF;

}

.color-amount button{
  font-family: "Fira Sans", serif;
  padding: 33px;
  font-size: 36px;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid #0e0e0e25;
  background-color: #C6E4D6;
}

.donate input {
  font-family: "Fira Sans", serif;
  width: 78%;
  padding: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  font-size: 16px;
}

.btn-donate {
  font-family: "Fira Sans", serif;
  margin: 30px;
  font-size: 16px;
  color: white;
  font-weight: 800px;
  border-radius: 8px;
  border-style: none;
  background-color: #006A50;
  padding: 15px 32px;
}