
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F1F1F3;
}

.Navigation {
  margin-left: 125px;
  margin-right: 125px;
  display: flex;
  align-items: center ;
  justify-content: space-between;
 
}
  
.heading {
  font-weight: bold;
  font-size: 28px;
  
}

.btn {
  font-family: "Fira Sans", serif;
  padding: 12px 25px;
  color: #006A50;
  font-weight: 600;
  border: 2px solid #006A50;
  border-radius: 8px;
}

/* ........banner...... */

.banner{

  margin: 40px 125px 80px 125px;
  padding: 70px 50px 70px 50px;
  background-color: #C6E4D6;
  border-radius: 24px ;
  border-style: none;
}

.text {
  margin-top: 30px;
}

.text p {
  font-family: "Fira Sans", serif;
  color: #0e0e0e7e ;
  font-weight: 500;
  font-size: 20px;
}

.text h2 {
  margin-top: 0;
  font-family: "Fira Sans", serif;
  color: #0E0E0E ;
  font-weight: bold;
  font-size: 45px;
  line-height: auto;
  max-width: 90%;
}

.text button {
  font-family: "Fira Sans", serif;
  color: white;
  font-weight: 600px;
  font-size: 16px;
  background-color: #006A50;
  border-radius: 8px;
  padding: 15px 30px;
  border-style: none;
}

.banner-items-container{
  display: flex;
  justify-content: space-between;
}

